{% extends "base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block content %}
<h3>Edit your profile</h3>

<form method="post">
    <p>
        <strong>Your name:</strong>
        <input type="text" value="{{ user.name }}" name="profile-name">
    </p>

    <p>
        <strong>Your email:</strong>
        <input type="email" value="{{ user.email }}" name="profile-email">
    </p>

    <h4>Password update (optional)</h4>
    <p>If you'd like to update the password, fill out the input fields below. If not, leave them empty.</p>

    <p>
        <strong>Old password:</strong>
        <input type="password" name="old-password">
    </p>

    <p>
        <strong>New password:</strong>
        <input type="password" name="new-password">
    </p>

    <button>Submit</button>
</form>
{% endblock content %}A
