<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SmartNinja with Jinja</title>

        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <h1>Let's try out Jinja!</h1>

        <p>Jinja documentation: <a href="http://jinja.pocoo.org/" target="_blank">click here</a></p>

        <hr>

        <p>{{some_text}}</p>

        <p>Current year: {{current_year}}</p>

        {% for city in cities %}
            <p>{{city}}</p>
        {% endfor %}

        {% if cities %}
            <p>The cities variable exists.</p>
        {% else %}
            <p>There are no cities :(</p>
        {% endif %}

        {% if oranges %}
            <p>The oranges variable exists.</p>
        {% else %}
            <p>There are no oranges :(</p>
        {% endif %}
    </body>
</html>