<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simple database example</title>
    </head>

    <body>
        <h1>Chat website</h1>

        <form action="/add-message" method="post">
            <input name="username" placeholder="Enter your name">
            <br>
            <br>

            <textarea placeholder="Enter your message" name="text" rows="5"></textarea>
            <br>

            <button type="submit">Submit</button>
        </form>

        <hr>

        <h2>Messages:</h2>

        {% for message in messages %}
        <p>
            <strong>{{ message.author }}:</strong>
            {{message.text}}
        </p>
        {% endfor %}
    </body>
</html>
